DATABASE_URI="sqlite:///database.db"
SECRET_KEY="DIDYOUKNOWTHATWECANBLEEDDDDWOWWWWIKNOWWWRIGHTTTCRAZZZYYYYYUGHHHHHTHEAMAZINGWONDERSOFTHEHUMANBODY"
ENV="development"
API_NINJAS_KEY="41FUU6tWCWpySKv0UxZ3AS0wuVPZVo4tnAXDfbsV"