{% extends "base.html" %}

{% block internal_css %}
<style>
#content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
</style>
{% block additional_styles %}{% endblock %}
{% endblock %}

{% block content %}
<div id="content">
    {% for message in get_flashed_messages(request) %}
    <div class="alert alert-{{ message.type }}" role="alert">{{ message.message }}</div>
    {% endfor %}

    {% block subpage_content %}{% endblock %}
</div>

{% block subpage_scripts %}{% endblock %}
{% endblock %}